body{
    padding: 0;
    margin: 0;
}

.title{

    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

div{
margin:auto;
}




@media screen (min-width: 400px) and (max-width: 769px) {
  .title {
    font-size: 20px;
  }

  .mensaje>.alert p, .mensaje>.alert p strong{

    font-size: 12px;
    padding: 0px;

  }

  form{
  	margin:8px;
  }

  #container-inputs div input{
	font-size: 8px;
  }

}

@media screen (min-width: 770px) and (max-width:1200px) {
  .title {
    font-size: 30px;
  }
}