body{
    padding: 0;
    margin: 0;
}

h1{

   /* font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;*/
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

div{
margin:auto;
}